body {
    margin: 50;
}

block {
  maxWidth:250;
}

contain {
  wrapMargin: 30;
  padding: 50;
}

#userchoice {
  margin-left: 23%;
  width: 50px;
  padding: 5px;
}

#thumbnails {
  margin-left: 26%;
}

p {
  font-size: 10px;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

h1 {
  margin-left: 10%;
}
